<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Welcome to the performance page</h1>
<h2>This is home page for Avamar VMware proxy performance</h2>
<p>This page displays performance results for Hermosa proxy </p>
<%= link_to "Sign up now!",'#',class:"btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("avamar.png",alt:"Rails"),'http://rubyonrails.org/' %>
